<form action="/shelters/<%= params[:id] %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit Shelter Data</p>
  <p>All shelter edits are added immediately, but we reserve the right to edit a shelter's details at any time.</p>
  Shelter Name: <input type='text' name='shelter[name]'/><br/>
  Street Address: <input type='text' name='shelter[address]'></input><br/>
  City: <input type='text' name='shelter[city]'></input><br/>
  State (AB): <input type='text' name='shelter[state]'></input><br/>
  Zip: <input type='text' name='shelter[zip]'></input><br/>
  <input type='submit' value='Edit Shelter'/>
</form>
