<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Suggest a new shelter!</h2>
  <p>All shelters are added immediately, but we reserve the right to remove a shelter at any time.</p>
  Shelter Name: <input type='text' name='shelter[name]'></input><br/>
  Street Address: <input type='text' name='shelter[address]' ></input><br/>
  City: <input type='text' name='shelter[city]'></input><br/>
  State (AB): <input type='text' name='shelter[state]'></input><br/>
  Zip: <input type='text' name='shelter[zip]'></input><br/>
  <input type='submit' value='Create Shelter'/>
</form>
