<% content_for :title, "Welcome!" %>
<section>
  <h2>Welcome to Adopt Don't Shop Shelters</h2>
  <p>We are so happy to have you here! We are here to connect you with shelters
    and their adoptable pets. Pets can bring light and joy into your life.</p>
  <div class="welcome-nav">
    <%= link_to image_tag('viewshelters.png', height: '100px;', alt: 'View Shelters'), '/shelters' %>
    <%= link_to image_tag('viewpets.png', height: '100px;', alt: 'View Pets'), '/pets' %>
  </div>
</section>
