<section>
  <h2>Welcome to Adopt Don't Shop Shelters</h2>
  <p>We are so happy to have you here! We are here to connect you with shelters
    and their adoptable pets. Pets can bring light and joy into your life.</p>
  <ul>
    <li><a href="/shelters">View Shelters</a></li>
    <li><a href="/pets">View Pets</a></li>
  </ul>
</section>
